.login {
  width: 90%;
  max-width: 400px;
  margin: auto;
  font-family: "Space Grotesk", sans-serif;
}
.login label {
  text-transform: uppercase;
}
.login input:focus {
  /* border-image: linear-gradient(left, hsl(249, 99%, 64%), hsl(278, 94%, 30%)); */
  outline: none;
  border: 1px solid;
  border-radius: 5px;
  border-image-source: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  border-image-slice: 1;
  /* cursor: pointer; */
}
.login ::placeholder {
  color: rgba(158, 156, 156, 0.486);
  font-size: 1.2em;
  font-family: "Space Grotesk", sans-serif;
}
.login input {
  width: 100%;
  border: 1px solid rgba(158, 156, 156, 0.486);
  border-radius: 5px;
  padding: 10px 0px 10px 10px;
  /* margin: auto; */
}
.login section {
  margin-top: 10px;
  margin-bottom: 10px;
}
.login section > div input {
  /* width: 40%; */
  margin-right: 5px;
}
.login button {
  width: 100%;
  font-size: 1.1em;
  text-transform: capitalize;
  background-color: rgb(32, 1, 32);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 0px;
  margin-top: 20px;
}
.error {
  font-weight: 600;
  color: red;
  font-size: 0.7em;
}
